/*
 Theme Name:   VeritasDivi
 Description:  Divi Child Theme
 Author:       Dima Taran
 Template:     Divi
 Version:      1.0
 Text Domain:  veritas
*/

@import url("../Divi/style.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');

body {
    /*background-color: #ef4cea !important;*/

}
#main-footer {
    /*background-color: rgba(191,78,176,0.57) !important;*/
}

span.selection {
    position: relative;
}

select#billing_nova_poshta_region, span.select2-selection.select2-selection--single {
    height: 60px;
    width: 100% !important;
    background: rgba(1,19,80,.1) !important;
    border-radius: 5px;
    color: #011350 !important;
    font-size: 16px !important;
    border: none !important;
}

span.select2-selection.select2-selection--single {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body span.selection span.select2-selection__arrow {
    display: flex;
    align-items: center;
    position: relative !important;
    left: 0;
    padding-right: 5px;
}

span.select2-selection__arrow b {

}

.search-mobile  {
    max-width: 80%;
    margin: 2% auto;
}

.et_search_outer .aws-container {
    margin-right: 40px !important;
    width: 80%;
    margin-top: 20px !important;
}

@media screen and (max-width:1246px) {
    .et_search_outer .aws-container {margin-top: 20px !important;}
}
@media screen and (max-width:1202px) {
    .et_search_outer .aws-container {margin-top: 40px !important; width: 70%;}
}
@media screen and (max-width:980px) {
    .et_search_outer .aws-container {margin-top: 20px !important; width: 80%;}
}
@media screen and (max-width:764px) {
    .et_search_outer .aws-container {width: 70%;}
}

header.woocommerce-products-header .term-description,
header.woocommerce-products-header .page-description
{margin-bottom: 3%;}

div.et_pb_text_2 div.et_pb_text_inner p, .entry-content p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.8em;
}
div.product div.entry-summary p.out-of-stock {
    margin: 2% auto;
    font-size: 1.5em;
}
.et_pb_text_inner p.text-main {
    text-align: center;
}


.wp-block-cover {
    padding: 0;
    position: relative !important
}

.wp-block-cover .wp-block-cover__inner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 34px
}

.wp-block-cover .wp-block-cover__inner-container h2 {
    font-size: 24px;
    line-height: 28px;
    font-family: "Cormorant", serif;
    padding: 10px;
    background-color: #d1b190;
    text-align: center;
    width: 100%
}

.wp-block-cover .wp-block-cover__inner-container p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #011350;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center
}

.wp-block-cover .wp-block-cover__inner-container p:nth-of-type(1) {
    margin-top: auto
}

.wp-block-cover .wp-block-cover__inner-container p~a {
    margin-top: 16px
}

.wp-block-cover .wp-block-cover__inner-container a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #011350;
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    position: relative
}

.wp-block-cover .wp-block-cover__inner-container a.tel {
    padding: 8px 20px 8px 52px
}

.wp-block-cover .wp-block-cover__inner-container a.tel::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4 20C11.3173 19.9947 7.40331 18.3705 4.5164 15.4836C1.62949 12.5967 0.00529192 8.68271 0 4.6C0 3.38 0.484642 2.20998 1.34731 1.34731C2.20998 0.484641 3.38 -1.46123e-07 4.6 -1.46123e-07C4.85834 -0.00196795 5.11625 0.0214782 5.37 0.0699998C5.61531 0.1063 5.85647 0.166589 6.09 0.25C6.25425 0.307629 6.40061 0.407133 6.51461 0.538672C6.62861 0.670211 6.7063 0.829228 6.74 1L8.11 7C8.14693 7.16286 8.14248 7.33238 8.09706 7.49308C8.05165 7.65379 7.96671 7.80056 7.85 7.92C7.72 8.06 7.71 8.07 6.48 8.71C7.46499 10.8709 9.1932 12.6062 11.35 13.6C12 12.36 12.01 12.35 12.15 12.22C12.2694 12.1033 12.4162 12.0184 12.5769 11.9729C12.7376 11.9275 12.9071 11.9231 13.07 11.96L19.07 13.33C19.2353 13.3684 19.3881 13.4481 19.5141 13.5619C19.64 13.6756 19.735 13.8195 19.79 13.98C19.8744 14.2174 19.938 14.4616 19.98 14.71C20.0202 14.9613 20.0403 15.2155 20.04 15.47C20.0216 16.6848 19.5233 17.8429 18.654 18.6917C17.7847 19.5404 16.6149 20.0107 15.4 20Z' fill='%23011350'/%3E%3C/svg%3E")
}

p.price{font-size: 2em !important; margin-bottom:10px;}
.entry-content p {text-indent: 25px; text-align: justify;}
.et_pb_text_2 p {text-align: center;}
.et_pb_text_2 p span span {text-align: center;}
.et_pb_text_align_center p {text-align: center;}
p.price{margin-bottom:10px;}
.entry-content p {text-indent: 25px; text-align: justify;}
.et_pb_text_2 p {text-align: center;}
.et_pb_text_2 p span span {text-align: center;}
.et_pb_text_align_center p {text-align: center;}

/* ##### CALL TO ACTION MENU BUTTON ##### */

@media only screen and ( min-width: 981px ) {
    .cta_menu a {
        background-color: #6c3e41;
        padding: 15px 25px !important;
        border-radius: 25px;
        text-transform: uppercase;
        color: #fff !important;
        box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
    }

    .et-fixed-header #top-menu .cta_menu a	{
        color: #fff !important;
    }}
.clear-both {
    clear:both;
    visibility:hidden;
}
h2 a {color: #ed5ce5;}

#left-area ul,.comment-content ul,.entry-content ul,body.et-pb-preview #main-content .container ul{list-style-image:url('/wp-content/uploads/2019/01/martini.jpg');}

.comment_area .comment-reply-link {
    border-radius: 50px;
    background-color: #191919;
    color: #fff;
}
.comment_area .comment-reply-link:hover {
    background-color: #9e7247;
    background-image: linear-gradient(to right, #D5AA6D 0%, #9e7247 100%);
}

.form-submit .et_pb_button {
    line-height: 24px;
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    background-color: #9e7247;
    text-transform: uppercase;
    padding: 16px 36px 16px 36px;
    box-shadow: 0px 10px 20px rgba(212,169,109,0.15);
    background-image: linear-gradient(to right, #D5AA6D 0%, #9e7247 100%);
}



.form-submit .et_pb_button:hover {
    background-image: linear-gradient(to right, #9d7146 0%, #D5AA6D 100%);
    padding: 16px 36px 16px 36px;
}
.blog-single .inner-box .lower-content .post-meta li a {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
}

 .logo-box #main-logo, .logo #sticky-logo, .logo #hidden-logo, .logo #footer-logo {
     width: auto;
 }
.logo-box #main-logo {
    max-height: 90px;
}
.logo #hidden-logo, .logo #sticky-logo {
    max-height: 60px;
}
.logo #footer-logo {
    max-height: 55px;
}
.inner-box .logo, .logo-widget .logo {
    display: flex;
    justify-content: center;
}
